/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');

* {
    font-family: 'PTSans';
    font-style: normal;
    font-weight: normal;
  }
  
a, address, article, aside, audio, b, big, blockquote, body, canvas, caption, code, 
dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, 
form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, 
main, mark, menu, nav, ol, output, p, pre, q, s, samp, section, small, span, strong, sub, 
summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
header, footer{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}
button {
    padding: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.headerLogo{
    float: left;
    margin-top: 10px;
}
.headerSearch{
    margin-top: 30px;
    float: right;
}

.logo {
    font-weight: bold;
    font-size: 48px;
    text-shadow: 2px 1px 0px black, -2px -1px 0px #f86d5e;
    color: white;
}

.logo:hover{
    color: rgb(233, 231, 231);
    text-shadow: 3.5px 1px 0px black, -3.5px -1px 0px #f86d5e;
}

.searchButton{
    margin: 0px;
    margin-left: 10px;
    border-width: 1px;
    border-color: #f86d5e;
    width: 80px;
    height: 35px;
    color: #f86d5e;
    font-weight: bold;
    font-size: 15px;

}
.searchButton:hover{
    border: none;
    color: white;
    background-color: #f86d5e;
}
.fieldSearch{
    width: 200px;
    height: 35px;
    margin: 0px; 
}
.menu{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
}
.navMenu{
    float: left;
    
}
.addButton{
    float: right;
}
ul.menuList li{
    display: inline;
    margin-right: 30px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #f86d5e;
    font-weight: 300;
}
a:hover{
    color: #b95044;
}
.addButton{
    margin: 0px;
    margin-left: 10px;
    border-width: 1px;
    border-color: #f86d5e;
    width: 160px;
    height: 40px;
    color: #f86d5e;
    font-weight: bold;
    font-size: 18px;
}
.addButton:hover{
    border: none;
    color: white;
    background-color: #f86d5e;
}
main{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.split {
    border-top: 1px solid black;
    width: 50%; 
    margin: 50px 25% 50px 25%;
}
.headline{
    padding-bottom: 40px;
    font-size: 36px;
}
.filterBy{
    float: left;
    font-size: 14px;
    
}
.fieldFilter{
    color: rgb(151, 150, 150);
}
.fieldFilter:hover{
    color: rgb(88, 85, 85);
}
.filteredTeachers{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.oneTeacher{
    width: 20%;
    margin: 0px;
    margin-bottom: 30px;
}
.round{
    margin: 0 auto;
    position: relative;
    width: 120px; 
    height: 120px;
    border-radius: 100px; 
    border: 3px solid#f86d5e;
    cursor: pointer;
}
.initials{
    margin: 40% 0 0 0; 
    font-weight: bold;
    color: #f86d5e;
    font-size: 20px;
}
.fullName{
    font-size: 18px;
}
.country{
    font-size: 12px;
    color: rgb(88, 85, 85);
}
.round:hover {
    border: 4px solid#e0594b;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.statisticsTable{
    width: 100%;
    margin: 0 -50 0 50px;
    text-align: left;
    font-size: 20px;
    
}
th {
    border-bottom: 3px solid #888585;
    padding: 10px;
    text-align: left;
}
th:hover{
    border-bottom: 4px solid #353333;
    background-color: rgb(247, 247, 247);
}
td {
    padding: 10px;
}
tr:nth-child(odd) {
    background: white;
}
tr:nth-child(even) {
    background: #f8f2f1;
}
.numbers{
    color: rgb(74, 142, 206);
} 
.numbers:focus{
    color: rgb(0, 0, 0);
}

.slider {
    display: flex;
    position: relative;
  }
  
.slider::before {
    position: absolute;
    content: '';
    top: 90px;
    left: -20px;
    border: solid rgb(114, 114, 114);
    border-width: 0 6px 6px 0;
    display: inline-block;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  
.slider::after {
    position: absolute;
    content: '';
    top: 90px;
    right: -20px;
    border: solid rgb(114, 114, 114);
    border-width: 0 6px 6px 0;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
.description{
    text-align: left;
    font-size: 18px;
    padding: 20px
}

.foNavMenu{
    margin-top: 10px;
    float: left;
    position: relative;
}
.foo{
    text-decoration: none;
    color: #6f9dff;
    
}
.foo:hover{
        color: #2639a1;
    }
